In [1]:
print ("hola")

hola

#### Fundamentos de python

 * Variables
  * Operadores matematicos
  * Operadores logicos 
  * Operadores de comparacion
  * Estructuras de control
     - Condicionales simples
     - Condicionales anidados
     - condicionales encadenados
     - Ciclos Infinitos
     - Ciclos finitos
  * Funciones
  * Estructura de datos
    - Cadenas de caracteres
    - Listas
    - Tuplas
    - Diccionarios

### Variables

In [7]:
name = "Luis"
name

'Luis'

In [8]:
lastname = "Rondon"
lastname

'Rondon'

In [16]:
last_name = "Rondon" 
last_name

'Rondon'

In [12]:
last-name = "Rondon"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1316345620.py, line 1)

In [13]:
last.name = "Rondon"

NameError: name 'last' is not defined

In [20]:
LastName = "Rondon1"

In [21]:
last_name
LastName

'Rondon1'

In [23]:
qwert = 23
asdfg = 10
zxcvb = qwert * asdfg

zxcvb

230

In [24]:
base = 23
height = 10

area = base * height
area

230

In [31]:
print("area:", area)
print("Apellido:", last_name)
print("Base del triangulo", base)

area: 230
Apellido: Rondon
Base del triangulo 23

### Operadores matematicos basicos

In [37]:
# Suma

number_1 = 10
number_2 = 20
result = number_1 + number_2

print("El resultado de la suma es:", result)

El resultado de la suma es: 30

In [36]:
# Resta

number_1 = 10
number_2 = 20
result = number_1 - number_2

print("El resultado de la resta es:", result)

El resultado de la resta es: -10

In [38]:
# Multiplicacion

number_1 = 10
number_2 = 20
result = number_1 * number_2

print("El resultado de la multiplicacion es:", result)

El resultado de la multiplicacion es: 200

In [39]:
# Division

number_1 = 10
number_2 = 20
result = number_1 / number_2

print("El resultado de la division es:", result)

El resultado de la division es: 0.5

In [40]:
type(last_name)

str

In [41]:
type(number_1)

int

In [42]:
type(result)

float

In [43]:
print( type (last_name) )
print( type(number_1) )
print( type (result) )

<class 'str'>
<class 'int'>
<class 'float'>

### Estructuras de Control

In [1]:
name1 = "pablo"
age = 16

In [ ]:
# if condicion:
#  print ("saludos")

In [3]:
#  condicional simple 
if (age > 15):
    print("Puedes pasar")

Puedes pasar

In [ ]:
# Operadores de comparacion
# mayor que >
# menor que <
# mayor igual >-
# menor igual <-
# igual ==
# diferente !=

In [13]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = input ("ingrese su edad: ")
# age = int(age)
age = float(age)

if (age > 15):
    print("Puedes pasar", name1)

Puedes pasar Luis

In [14]:
type(name1)
type(age)
type(age)

float

In [15]:
age

23.0

In [ ]:
# Operadores Logicos 
# and
# or
# not

In [25]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = int (input ("ingrese su edad: "))
day = input("Ingrese el dia de la semana: ")
# age = int(age)


if (age > 15) and (day == "Sabado"):
     print("Puedes pasar", name1)

Puedes pasar Luis

In [27]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = int (input ("ingrese su edad: "))
day = input("Ingrese el dia de la semana: ")
# age = int(age)


if (age > 15) and (day == "Sabado" or day == "Viernes"):
     print("Puedes pasar", name1)

Puedes pasar Luis

In [28]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = int (input ("ingrese su edad: "))
day = input("Ingrese el dia de la semana: ")
# age = int(age)


if (age > 15):
    if (day == "Sabado") or (day == "Viernes"):
        print("Puedes pasar", name1)

Puedes pasar Luis

In [29]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = int (input ("ingrese su edad: "))
day = input("Ingrese el dia de la semana: ")
# age = int(age)


if (age > 15):
    print("No puedes pasar", name1)
else:
    print("Fuera de aqui", name1)

    # if (day == "Sabado") or (day == "Viernes"):
    #     print("No puedes pasar", name1)

Fuera de aqui Luis

In [33]:
#  condicional simple 
name1 = input ("ingrese su nombre: ")
age = int (input ("ingrese su edad: "))
# age = int(age)


if (age > 15):
     day = input("Ingrese el dia de la semana: ")

     if (day == "Sabado") or (day == "Viernes"):
         print("Puedes pasar", name1)
     else:
          print("No es sabado ni Viernes")
else:
     print("menor de 15")

No es sabado ni Viernes

#### Condicionales Encadenados

In [39]:
#  condicional simple 

# name1 = input ("ingrese su nombre: ")

day = input("Ingrese el dia de la semana: ")

# age = int (input ("ingrese su edad: "))

# age = int(age)

if day == "lunes":
        print("Voy al cine")

elif day == "martes":
       print("Voy al gym")

elif day == "miercoles":
        print("Voy al mercado")

elif day == "jueves":
        print("Voy al padel")

elif day == "viernes":
        print("Voy a la disco")
else:
        print("Fin de semana")

Voy al padel

#### Ciclos Finitos -> for

In [48]:
# for var in range(start, stop, step):
for var in range(5,11,2):
    if var == 5:
        print("encontre el", var)

encontre el 5

In [49]:
# Listas
name_list = ["Luis", "Jose", "Maria"]

In [50]:
len(name_list)

3

In [51]:
type(name_list)

list

In [52]:
name_list.append("Pablo")

In [53]:
name_list

['Luis', 'Jose', 'Maria', 'Pablo']

In [54]:
name_list.count("Luis")

1

In [56]:
name_list.append("Luis")

In [57]:
name_list.count("Luis")

2

In [59]:
name_list.sort()

In [60]:
name_list

['Jose', 'Luis', 'Luis', 'Maria', 'Pablo']

In [61]:
name_list_2 = name_list.copy()

In [62]:
name_list_2

['Jose', 'Luis', 'Luis', 'Maria', 'Pablo']

In [66]:
# recorrer la lista
for name in name_list: 
    if name == "Maria":
        print("Maria te encontre")

Maria te encontre

In [73]:
name_list[1]

'Luis'

In [75]:
name_list[0:4]

['Jose', 'Luis', 'Luis', 'Maria']

In [76]:
name_list

['Jose', 'Luis', 'Luis', 'Maria', 'Pablo']

In [77]:
name_list[:3]

['Jose', 'Luis', 'Luis']

In [78]:
name_list[2:]

['Luis', 'Maria', 'Pablo']

In [79]:
name_list[2:4]

['Luis', 'Maria']

In [80]:
name_list[-1]

'Pablo'

In [81]:
name_list[-4:-1]

['Luis', 'Luis', 'Maria']

In [84]:
len(name_list)

5

In [86]:
# recorrer la lista por sus indices 
for name in range(len(name_list)):
    print(name_list[name])

Jose
Luis
Luis
Maria
Pablo